@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body{
    background: radial-gradient(circle,#083302,#000000);
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #000000;
}


nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgba(5, 5, 5, 0.336);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.075);
  backdrop-filter: blur( 4px );
}
.logo {
  color: #fff;
  text-transform: capitalize;
  font-size: 55px;
  cursor: pointer;
  font-weight: 900;
  letter-spacing: 1px;
}
.logo span {
  color: rgb(0, 179, 24);
}

.menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  .menu li {
    list-style: none;
  }
  .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
    transition: 0.9s;
    font-weight: 600;
  }
  .menu a:hover {
    color: rgb(34, 190, 2);
    font-weight: 500;
    letter-spacing: 2px;
  }
  .bar {
    display: none;
    cursor: pointer;
  }
  .bar div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.5s ease;
  }
  @media screen and (max-width: 1024px) {
    .menu {
      width: 60%;
    }
  }
  @media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
    .menu {
      position: absolute;
      right: -100%;
      height: 90vh;
      top: 10vh;
      background-color: rgb(0, 0, 0);
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
    }
    .bar {
      display: block;
    }
  }
  
  /* Nav bar end */

  .nav-active {
    transform: translateX(-100%);
  }
  .bar-active .bar-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .bar-active .bar-2 {
    opacity: 0;
  }
  .bar-active .bar-3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .banner {
    background-image: url();
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  
  .content h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 60px;
    animation: wave 3s ease-in-out infinite;
  }
  
  .psy{
    width: 60%;
    color: rgb(255, 255, 255);
    line-height: 2;
  }

  .wrapper {
    width: 1060px;
    margin: auto;
    padding-top: 8%;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .wrapper {
      width: 75%;
      padding-top: 26%;
    }
    .content {
      text-align: center;
    }
    .content h2 {
      font-size: 60px;
    }
    .content p {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 767px) {
    .banner {
      background-position: 60%;
    }
    .wrapper {
      width: 75%;
      padding-top: 26%;
    }
    .content h2 {
      font-size: 30px;
    }
    .content p {
      width: 100%;
    }
  }
  .content span{
    color: rgba(29, 153, 255, 0.815);
    font-style: italic;
    user-select: none;
    font-size: 59px;
    color: white;
    background: repeating-linear-gradient(-45deg, rgb(0, 255, 21) 0%, rgb(1, 167, 23) 7.14%, rgb(1, 107, 33) 14.28%,
                rgb(1, 107, 15) 21.4%, rgb(0, 212, 28) 28.56%, rgb(18, 138, 24) 35.7%, rgb(5, 110, 2) 42.84%, rgb(0, 240, 80) 50%);
    background-size: 600vw 600vw;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: slide 10s linear infinite forwards;
  }
  @keyframes slide {
    0%{
      background-position-x: 0%;
    }
    100%{
      background-position-x: 600vw;
    }
  }

.imsg{
  width: 65em;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.075);
  transform: scale(1);
  transition: transform 0.5s ease;
}
.imsg:hover {
  transform: scale(1.1);
}
.imsg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.imsg:hover::before {
  opacity: 1;
}
#container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60vh;
}
.box {
	width: 100%;
	max-width: 1170px;
	padding: 15px;
}
.box h1 {
	margin: 30px 0;
	color: #ddd;
	font-size: 35px;
	text-align: center;
	text-transform: uppercase;
}
.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	text-align: center;
}
.card {
	width: 30%;
	padding: 30px 20px;
	border-radius: 3px;
	transition: transform .3s;
	background: rgba(0, 0, 0, 0.274);
	backdrop-filter: blur(30px);
}
.card-content {
	color: #fff;
}
.card-content h2 {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 10px;
}
.card-content p {
	font-size: 14px;
	line-height: 1.9;
}
.icons {
	background: #ddd;
	display: inline-block;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
  background: repeating-linear-gradient(-45deg, rgb(0, 255, 21) 0%, rgb(1, 167, 23) 7.14%, rgb(50, 211, 98) 14.28%,
  rgb(17, 172, 37) 21.4%, rgb(0, 212, 28) 28.56%, rgb(18, 138, 24) 35.7%, rgb(5, 110, 2) 42.84%, rgb(0, 240, 80) 50%);
background-size: 600vw 600vw;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
animation: slide 10s linear infinite forwards;
}
@keyframes slide {
0%{
background-position-x: 0%;
}
100%{
background-position-x: 600vw;
}
}
.icons i {
	text-align: center;
	line-height: 75px;
	padding: 0px;
	font-size: 45px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#container {
		height: auto;
	}
	.box {
		padding: 20px;
	}
	.card {
		width: 100%;
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.box h1 {
		font-size: 1.5rem
	}
	.cards {
		justify-content: center;
	}
	.card {
		margin-bottom: 20px;
		width: 100%;
	}
}
a{
  color: rgb(7, 199, 7);
  text-decoration: none;
}