@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body{
    background: radial-gradient(circle,#083302,#000000);
    height: 100vh;
}


nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgba(5, 5, 5, 0.336);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.075);
  backdrop-filter: blur( 4px );
}
.logo {
  color: #fff;
  text-transform: capitalize;
  font-size: 55px;
  cursor: pointer;
  font-weight: 900;
  letter-spacing: 1px;
}
.logo span {
  color: rgb(0, 179, 24);
}

.menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  .menu li {
    list-style: none;
  }
  .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
    transition: 0.9s;
    font-weight: 600;
  }
  .menu a:hover {
    color: rgb(34, 190, 2);
    font-weight: 500;
    letter-spacing: 2px;
  }
  .bar {
    display: none;
    cursor: pointer;
  }
  .bar div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.5s ease;
  }
  @media screen and (max-width: 1024px) {
    .menu {
      width: 60%;
    }
  }
  @media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
    .menu {
      position: absolute;
      right: -100%;
      height: 90vh;
      top: 10vh;
      background-color: rgb(0, 0, 0);
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
    }
    .bar {
      display: block;
    }
  }
  
  /* Nav bar end */

  .nav-active {
    transform: translateX(-100%);
  }
  .bar-active .bar-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .bar-active .bar-2 {
    opacity: 0;
  }
  .bar-active .bar-3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .banner {
    background-image: url();
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .content h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 60px;
    animation: wave 3s ease-in-out infinite;
  }
  
  .psy{
    width: 60%;
    color: rgb(255, 255, 255);
    line-height: 2;
  }

  .wrapper {
    width: 1060px;
    margin: auto;
    padding-top: 12%;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .wrapper {
      width: 75%;
      padding-top: 26%;
    }
    .content {
      text-align: center;
    }
    .content h2 {
      font-size: 60px;
    }
    .content p {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 767px) {
    .banner {
      background-position: 60%;
    }
    .wrapper {
      width: 75%;
      padding-top: 26%;
    }
    .content h2 {
      font-size: 30px;
    }
    .content p {
      width: 100%;
    }
  }
  .content span{
    color: rgba(29, 153, 255, 0.815);
    font-style: italic;
    user-select: none;
    font-size: 59px;
    color: white;
    background: repeating-linear-gradient(-45deg, rgb(0, 255, 21) 0%, rgb(1, 167, 23) 7.14%, rgb(1, 107, 33) 14.28%,
                rgb(1, 107, 15) 21.4%, rgb(0, 212, 28) 28.56%, rgb(18, 138, 24) 35.7%, rgb(5, 110, 2) 42.84%, rgb(0, 240, 80) 50%);
    background-size: 600vw 600vw;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: slide 10s linear infinite forwards;
  }
  @keyframes slide {
    0%{
      background-position-x: 0%;
    }
    100%{
      background-position-x: 600vw;
    }
  }